.btn-wrapper {
  /* el contenedor del botón ocupa toma el 100% del padre, es decir, del BODY */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px 0;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.btn-text {
  margin-top: 10px;
}
