.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 12px 0;
  border: 2px solid pink;
  border-radius: 5%;
}

.card__title {
  margin-top: 10px;
}

.card__img {
  width: 90%;
  padding: 12px;
}

.card__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__message {
  margin: 15px 0 20px 0;
}

.card__icon {
  margin-bottom: 10px;
  font-size: 2.5em;
}
